---
interface Props {
  src: string;
  title?: string;
  height?: number;
}

const { src, title = "draw.io diagram", height = 520 } = Astro.props;
---

<div
  class="border border-[var(--color-border)] rounded-lg overflow-hidden bg-[var(--color-surface)]"
  style={`height: ${height}px`}
>
  <iframe
    src={src}
    title={title}
    width="100%"
    height={height}
    frameborder="0"
    loading="lazy"
    allowfullscreen
  ></iframe>
</div>
